/* global.css */

body {
    font-family: 'Overpass', sans-serif !important;
    font-size: 15px !important;
    background: linear-gradient(52deg, #5a0052, #002958);
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    background-size: 100% 100%; /* Cover the full display */
    animation: AnimationName 26s linear infinite alternate;
  }
  
  @keyframes AnimationName {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }
  