.terms-container {
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: justify;
  }

@media (max-width: 768px) {
    .terms-container {
      margin: 20px;
      padding: 20px;
    }
  }
  
  h1 {
    color: #5a0052;
    font-size: 24px; /* Updated font size for h1 and h2 */
  }

  h2 {
    color: #5a0052;
    font-size: 20px; /* Updated font size for h1 and h2 */
  }
  
  p {
    color: #444;
    line-height: 1.6;
    font-size: 16px; /* Default font size for paragraphs */
  }
  
  h2 {
    margin-top: 20px;
    color: #5a0052;
  }
  